.bg-movee {
  background-color: #8950fc;
}

.w-fit {
  width: fit-content !important;
}

.cu-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-fit {
  width: fit-content;
}

.sentence {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BG {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180vh;
}
