.bg-movee {
  background-color: #8950fc;
}

.w-fit {
  width: fit-content !important;
}

.cu-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#chat2 .form-control {
  border-color: transparent;
  }
  
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }

.w-fit {
  width: fit-content;
}

.sentence {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BG {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220vh;
}
.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }
.comment-date {
  font-size: 14px;
  color: #555;
  /* Add any other desired styles */
}


