python backend:
	libraries: 
 	  flask
	  flask-cors
	  requests
 	  openai
	  numpy
	  pandas
          matplotlib.pyplot

c# backend:
	asp.net verion 4.8
	packages list -> see in packages folder

frontend:
 	node.js
	
