.bg-movee {
  background-color: #8950fc;
}

.w-fit {
  width: fit-content !important;
}

.cu-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-fit {
  width: fit-content;
}
